@font-face {
    font-family: Formular-Black; 
    src: url(../../fonts/Formular-Black.ttf);
   }
@font-face {
 font-family: Formular; 
 src: url(../../fonts/Formular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.tasks_wrapper{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-top: 70px;
    z-index: 5;
    background-color: white;
}
.tasks_text{
    margin:90px 50px 0 50px;
    padding-bottom: 30px;
}
.tasks_text_header{
    margin:0;
    font-family: Formular-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.tasks_text_main{
    margin:0;
    margin-top: 30px;
    max-width: 670px;
    font-family: Formular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}
.menus_blocks{
    margin: 0 50px 0 50px;
    border-bottom:1px solid #000000;
}
@media screen and (max-width: 1296px) {
    .tasks_wrapper{
    width:100% ;
    margin-left: 35px;
    margin-right: 35px;
    }
}
@media screen and (max-width: 1206px) {
    .tasks_wrapper{
    margin-top:60px;
    }
    .tasks_text_header{
    font-size: 24px;
    line-height: 29px;
    }
    .tasks_text{
        margin:50px 35px 0 35px;
        padding-bottom: 50px;
    }
    .tasks_text_main{
        margin-top: 20px;
        font-size: 14px;
    }
    .menus_blocks{
        margin: 0 35px 0 35px;
        border-bottom:1px solid #000000;
    }
}