@font-face {
font-family: Formular; 
src: url(../../fonts/Formular.ttf);
}
.accordion_item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}
.accordion_item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion_title {
  position: sticky;
  top: 70px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Formular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top:1px solid #000000;
  background: rgba(255, 255, 255, 0.9);
  
}


.accordion_title:hover{
  letter-spacing: 0.05em;
  transition: letter-spacing 0.6s ;
}
.arrow{
  width: 15px;
  height: 31px;
  background-image: url(../../img/arrow.png);
  transition: transform 0.6s;
  margin-right:30px;
}
.arrow.rotated{
  transform: rotate(180deg);
}
.accordion_content{
  display: flex;
  flex-wrap:wrap;
  width:calc(100% + 45px)

}




